{% extends 'member-header.html' %}
{% load static %}

{% block title %}
<title>Complain Write</title>
{% endblock %}

{% block content %}
<br><br><br><br><br>

<main id="main" class="site-main">

    <section class="site-section subpage-site-section section-contact-us">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="align-items: center;">

                        <h2 style="text-align: center;">Write a Complain <br><span style="font-size: small;">You are a <span style="color: red;">"{{member.role}}"</span>  right now</span> </h2>
                        {% if msg %}
                        <p style="color: red; text-align: center; margin-bottom: 20px ;">{{msg}}</p>
                        {% endif %}
                    </div>
                    <form action="{% url 'member-complain' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="name">Complain Subject:</label>
                                  <input type="text" name="subject" style="background-color: rgb(152, 235, 152); text-align: center;" placeholder="Enter Your First Name..." class="form-control" id="fname">
                                </div>
                            </div>
                            
                        </div><br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="email">Complain Description:</label>
                                  <textarea name="des" class="form-control" placeholder="Complain Description..." style="background-color: rgb(152, 235, 152);" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            
                        </div><br>
                        
                        <div class="text-center">
                            <button class="btn btn-green" type="submit"><i class="fa fa-edit"></i> Write a Complain </button>
                        </div>
                    </form>
                    
                </div>
                
            </div>
        </div>
        
    </section><!-- /.section-contact-us -->


</main>



{% endblock %}