{% extends 'member-header.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}

<div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Change Password </h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'member-index' %}">Home</a></li>
              <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div>

<main id="main" class="site-main">

    <section class="site-section subpage-site-section section-contact-us">

        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div style="align-items: center;">
                        <h2 style="margin-bottom: 0px;">Change Password for account  : </h2>
                        {% if msg %}
                        <p style="color: red;">* {{msg}}</p><br><br>
                        {% endif %}
                    </div>
                    <form action="{% url 'member-change-password' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="email"> Old Password:</label>
                                  <input type="password" name="old_password" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Password..." class="form-control" id="password">
                                </div>
                            </div>
                        </div><br><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="email"> New Password:</label>
                                  <input type="password" name="new_password" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Password..." class="form-control" id="password">
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <input type="password" name="con_password" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Password..." class="form-control" id="password">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-green"><i class="fa fa-edit"></i> Change Password </button>
                        </div>
                    </form>
                    
                </div>
                
            </div>
        </div>
        
    </section><!-- /.section-contact-us -->


</main>

{% endblock%}