{% extends 'member-header.html' %}
{% load static %}

{% block title %}
<title>View Notice - {{notice.subject}}</title>
{% endblock %}

{% block content %}

<div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Notice Mails</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'member-index' %}">Home</a></li>
              <li class="breadcrumb-item active">My Notice - {{notice.subject}}</li>
            </ol>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div>
<style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
      padding-right: 0px;
      padding-left: 0px;
    }
    </style>
<main id="main" class="site-main">

    <section class="site-section subpage-site-section section-contact-us">

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h2>Notice Detail : </h2>
                    </div>
                </div>
                <!-- <div class="col-sm-6">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <select style="padding-left: 30px;" name="cate" class="selectpicker">
                                <option value="all">All</option>
                                <option value="Doctor">Doctor</option>
                                <option value="Plumber">Plumber</option>
                                <option value="Electrician">Electrician</option>
                                <option value="Cate">Other</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-green">Search</button>
                        </div>
                    </form>
                </div> -->
                
            </div>

            <table id="customers">
                <tr>
                  <th style="text-align: center;">Send By:</th>
                  <td style="text-align: center;"> {{notice.uid.name}} (Secratory)</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Recieved Time:</th>
                    <td style="text-align: center;"> {{notice.created_at}} </td>
                </tr>
                <tr>
                    <th style="text-align: center;">Subject :</th>
                    <td style="text-align: center;"> {{notice.subject}} </td>
                </tr>
                <tr>
                    <th style="text-align: center;">Description:</th>
                    <td style="text-align: center;"> {{notice.des}} </td>
                </tr>
                {% if notice.pic %}
                <tr>
                    <th style="text-align: center;">Description:</th>
                    <td style="text-align: center;"> <img src="{{notice.pic.url}}" alt=""> </td>
                </tr>
                {% endif %}

              </table>
                  <a href="{% url 'member-view-notices' %}"><button style="margin: 10px;" class="btn btn-green"><i class="fa fa-arrow-left"></i> Back</button></a>
        </div>
        
    </section><!-- /.section-contact-us -->


</main>


{% endblock %}