{% extends 'sec-header.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block password %}
    <li class="nav-item">
        <a class="nav-link text-white active bg-gradient-primary" href="">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-lock"></i>
            </div>
            <span class="nav-link-text ms-1">Change Password</span>
        </a>
    </li>
{% endblock %}

{% block content %}
<div class="container-fluid px-2 px-md-4">
    <br><br><br>
    <br>
    <!-- <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div> -->
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            {% if uid.pic %}
            <img src="{{uid.pic.url}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            {% else %}
            <img src="{{uid.pic.url}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            {% endif %}
        </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              {{uid.name}}
            </h5>
            <p class="mb-0 font-weight-normal text-sm">
              Secratory
            </p>
          </div>
        </div>
      </div>
      <p style="margin: 10px; color: red;">{{msg}}</p>

      <div style="margin: 20px; margin-left: 60px;">
      <form action="{% url 'change-password' %}" method="POST">
          {% csrf_token %}
        <div class="row">
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>Old Password</b></label>
                <input type="password" class="form-control" name="oldpass"  id="exampleInputPassword1" placeholder="Your Old Password...">
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>New Password</b></label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Your New Password...">
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-6">
                <!-- <label for="exampleInputPassword1"><b>Your Mobile</b></label> -->
                <input type="password" class="form-control" name="cpassword" id="exampleInputPassword1" placeholder="Re-Type Your New Password...">
            </div>
        </div><br><br>
        <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i>   Update Password</button>
      </form>
    </div>
    </div>
  </div>
{% endblock %}