{% extends 'sec-header.html' %}
{% load static %}

{% block title %}
<title>View Complain</title>
{% endblock %}


{% block complain %}
<li class="nav-item">
<a class="nav-link text-white bg-gradient-primary" href="#">
    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
    <!-- <i class="material-icons opacity-10">format_textdirection_r_to_l</i> -->
    <i class="fa fa-thumbs-down"></i>
    </div>
    <span class="nav-link-text ms-1">Manage Complains</span>
</a>
</li>
{% endblock%}

{% block content %}
<br><br><br>
<div class="container-fluid px-2 px-md-4">
    
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">
        
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1" style="margin-left: 50px; margin-top: 50px;">
              View Complain Details
            </h5>
          </div>
        </div>
      </div><br>

      <div style="margin-left: 50px;">
      <form>
          {% csrf_token %}
        <div class="row">
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>Complain By:</b></label>
                <input type="text" class="form-control" style="background-color: rgb(243, 229, 229); padding-left: 20px;" value="{{complain.complain_by.fname}} {{complain.complain_by.lname}} @ {{complain.complain_by.flat_no}}" disabled>
            </div>
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>Complain Date Time:</b></label>
                <div class="form-control" style="background-color: rgb(243, 229, 229); padding-left: 20px;">
                    {{complain.created_at}}
                </div>
                <!-- <input type="text" class="form-control" style="background-color: rgb(243, 229, 229); padding-left: 20px;" value="{{complain.solve_by.name}} (Sectratory)" disabled> -->
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>Solved By:</b></label>
                <input type="text" class="form-control" style="background-color: rgb(243, 229, 229); padding-left: 20px;" value="{{complain.solve_by.name}} (Sectratory)" disabled>
            </div>
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>Solved Date Time:</b></label>
                <div class="form-control" style="background-color: rgb(243, 229, 229); padding-left: 20px;">
                    {{complain.solved_at}}
                </div>
                <!-- <input type="text" class="form-control" style="background-color: rgb(243, 229, 229); padding-left: 20px;" value="{{complain.solve_by.name}} (Sectratory)" disabled> -->
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>Complain Subject</b></label>
                <input type="text" class="form-control" disabled value="{{complain.subject}}" style="background-color: rgb(243, 229, 229); padding-left: 20px;" name="subject" id="exampleInputPassword1" placeholder="Notice Subject..." required>
            </div>
            <div class="form-group col-6">
                <label for="exampleInputPassword1"><b>Complain Status:</b></label>
                <div class="form-control" style="margin-left: 50px ;">
                    {% if complain.status %}
                    <p style="color: rgb(8, 201, 8); font-style: italic;" > <i class="fa fa-check" style="color: rgb(101, 231, 101);"></i> Solved</p>
                    {% else %}
                    <p style="color: red; font-style: italic;" > <i class="fa fa-close" style="color: red;"></i> Pending</p>
                    {% endif %}
                </div>
                <!-- <input type="text" class="form-control" style="background-color: rgb(243, 229, 229); padding-left: 20px;" value="{{complain.solve_by.name}} (Sectratory)" disabled> -->
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleInputPassword1"><b>Description :</b></label>
                <textarea name="des" class="form-control" disabled style="background-color: rgb(243, 229, 229); padding-left: 20px;" placeholder="Notice Description..." id="" cols="30" rows="5" required>{{complain.des}}</textarea>
            </div>
        </div><br>
        
        <br>
        <p style="color: red; font-size: small;">Note : You can not undo Complain</p>
      </form>
      <div class="row">
          <div class="col-3">
              <a href="{% url 'manage-complains' %}"><button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> &nbsp; Return to complains</button></a>
          </div>
          {% if complain.status == False %}
          <div class="col-3">
            <a href="{% url 'complain-status' complain.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                <button class="btn bg-gradient-info"><i class="fa fa-check"></i> Mark as Done</button>
              </a>
          </div>
          {% endif %}
      </div>
    </div>
    </div>
    <br><br>
</div>

{% endblock %}